.other_imgs {
  display: none;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .other_imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .other_imgs img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .other_imgs div {
    margin-bottom: 30px;
  }

  .other_imgs div:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}
