.products .search {
  margin-bottom: 30px;
}

.products #filter-addon {
  cursor: pointer;
}

.products #filter-addon:hover {
  background: var(--primary-color);
}

.products #filter-addon:hover svg {
  color: white !important;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}
