@font-face {
  font-family: 'Texta';
  src:
    url('./../fonts/Texta-Black.woff2') format('woff2'),
    url('./../fonts/Texta-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Texta';
  src:
    url('./../fonts/Texta-Bold.woff2') format('woff2'),
    url('./../fonts/Texta-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Texta';
  src:
    url('./../fonts/Texta-It.woff2') format('woff2'),
    url('./../fonts/Texta-It.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Texta';
  src:
    url('./../fonts/Texta-BoldIt.woff2') format('woff2'),
    url('./../fonts/Texta-BoldIt.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Texta';
  src:
    url('./../fonts/Texta-MediumIt.woff2') format('woff2'),
    url('./../fonts/Texta-MediumIt.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Texta';
  src:
    url('./../fonts/Texta-Medium.woff2') format('woff2'),
    url('./../fonts/Texta-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Texta';
  src:
    url('./../fonts/Texta-Regular.woff2') format('woff2'),
    url('./../fonts/Texta-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
